.beggin {
    background: url('../img/beggin_bg.png') center no-repeat;
    padding: 198px 0 285px;
    &__content {
        width: 482px;
        button {
            padding: 12px 32px;
        }
    }
    &__title {
        font-weight: 800;
        font-size: 50px;
        line-height: 60px;
        span {
            color: #685ED6;
        }
    }
    &__subtitle {
        padding: 24px 0 32px;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        span {
            color: #685ED6;
            font-weight: 800;
        }
    }
    &__img {
        text-align: center;
        padding-top: 48px;
        display: none;
    }
    &__image {
        height: 266px;
    }
}

@media (max-width: 1110px) {
    .beggin {
        padding: 114px 0 73px;
        background: url('../img/header-bg-1110.png') center/cover no-repeat;
    }
    .beggin__content {
        width: 270px;
    }
    .beggin__title {
        font-size: 32px;
        line-height: 40px;
    }
    .beggin__subtitle {
        padding: 32px 0 32px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }
}

@media (max-width: 481px) {
    .beggin {
        padding: 102px 0 0 0;
        background: url("../img/beggin_bg_mobile.png") center/cover no-repeat;
        &__content {
            width: 100%;
        }
        &__img {
            display: block;
        }
    }
}