* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
  color: #1D2530;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 40px 0;
}

.btn {
  padding: 10px 20px;
  background: #685ED6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}

.btn:hover {
  background: #F1E4FF;
  color: #685ED6;
}

.title {
  font-weight: 800;
  font-size: 46px;
  text-align: center;
}

.goTop {
  position: fixed;
  top: 50%;
  right: 20px;
  font-weight: 600;
  padding: 12px 16px;
  background: #685ED6;
  color: white;
  display: none;
  border-radius: 5px;
  -webkit-transition: none;
  transition: none;
  z-index: 5;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  padding: 32px 0 32px;
  background: #ffffff;
  z-index: 3;
}
.header__burger {
  cursor: pointer;
  display: none;
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__burger-line {
  width: 100%;
  height: 3px;
  background: #33AFE1;
  border-radius: 2px;
  position: relative;
}
.header__burger-line::before {
  content: "";
  width: 30px;
  height: 3px;
  background: #685ED6;
  border-radius: 2px;
  position: absolute;
  top: -9px;
  left: 0;
}
.header__burger-line::after {
  content: "";
  width: 30px;
  height: 3px;
  background: #18E1F7;
  border-radius: 2px;
  position: absolute;
  top: 9px;
  left: 0;
}
.header__burger.active .header__burger-line {
  width: 0;
}
.header__burger.active .header__burger-line::before {
  top: 0;
  background: #685ED6;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__burger.active .header__burger-line::after {
  background: #685ED6;
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo__title {
  font-weight: 700;
  font-size: 28.1106px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 63.33px;
     -moz-column-gap: 63.33px;
          column-gap: 63.33px;
}
.header__link {
  font-weight: 400;
  font-size: 20px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.header__link:hover, .header .active {
  color: #685ED6;
}
.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

@media (max-width: 1110px) {
  .header__nav {
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
  .header__link {
    font-size: 16px;
  }
  .header__inner button {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    display: none;
  }
  .header__menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    width: 240px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 24px;
    padding: 76px 30px 42px 0;
  }
  .header__menu.active .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 24px;
  }
  .header__menu.active .header__login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.beggin {
  background: url("../img/beggin_bg.png") center no-repeat;
  padding: 198px 0 285px;
}
.beggin__content {
  width: 482px;
}
.beggin__content button {
  padding: 12px 32px;
}
.beggin__title {
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
}
.beggin__title span {
  color: #685ED6;
}
.beggin__subtitle {
  padding: 24px 0 32px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}
.beggin__subtitle span {
  color: #685ED6;
  font-weight: 800;
}
.beggin__img {
  text-align: center;
  padding-top: 48px;
  display: none;
}
.beggin__image {
  height: 266px;
}

@media (max-width: 1110px) {
  .beggin {
    padding: 114px 0 73px;
    background: url("../img/header-bg-1110.png") center/cover no-repeat;
  }
  .beggin__content {
    width: 270px;
  }
  .beggin__title {
    font-size: 32px;
    line-height: 40px;
  }
  .beggin__subtitle {
    padding: 32px 0 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 481px) {
  .beggin {
    padding: 102px 0 0 0;
    background: url("../img/beggin_bg_mobile.png") center/cover no-repeat;
  }
  .beggin__content {
    width: 100%;
  }
  .beggin__img {
    display: block;
  }
}
.desc {
  padding: 72.84px 0 86.27px;
}
.desc__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.desc__title {
  font-weight: 800;
  font-size: 48px;
  padding-bottom: 19px;
}
.desc__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 49px;
}
.desc__item {
  padding-left: 26px;
}
.desc__subtitle {
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 8px;
}
.desc__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-family: "Gilroy", sans-serif;
}

@media (max-width: 1110px) {
  .desc {
    padding: 60px 0 62px;
  }
  .desc__title {
    font-size: 32px;
  }
  .desc__item {
    padding-left: 18px;
  }
  .desc__items__img {
    height: 42px;
    width: 42px;
  }
  .desc__subtitle {
    font-size: 20px;
  }
  .desc__text {
    font-size: 16px;
  }
  .desc__img {
    height: 487px;
  }
}
@media (max-width: 767px) {
  .desc__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .desc__img__content {
    padding-top: 26px;
  }
}
@media (max-width: 481px) {
  .desc {
    padding: 60px 0 60px;
  }
}
.tarifs {
  padding: 100px 0 100px;
  text-align: center;
}
.tarifs__subtitle {
  font-weight: 700;
  font-size: 24px;
  padding: 16px 0 40px;
}
.tarifs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.tarifs__items {
  width: calc(33.33333% - 20px);
  background: #FCFEFF;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  padding-bottom: 50px;
  border-radius: 8px;
}
.tarifs__items button {
  width: 287px;
  padding: 12px 55.5px;
}
.tarifs__name {
  font-weight: 800;
  font-size: 24px;
  color: #685ED6;
  background: rgba(104, 94, 214, 0.05);
  padding: 7px 0 6px;
}
.tarifs__text {
  padding-top: 40px;
  font-weight: 700;
  font-size: 28px;
}
.tarifs__price {
  font-weight: 500;
  font-size: 20px;
  padding: 32px 0 46px;
}

.mobile-slide {
  display: none !important;
}

@media (max-width: 10000px) {
  .tarifs__slide {
    display: none !important;
  }
}
@media (max-width: 1110px) {
  .tarifs {
    padding: 54px 0 88px;
  }
  .tarifs .title {
    font-size: 32px;
  }
  .tarifs__content {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .tarifs__items__3 {
    display: none;
    overflow: hidden;
  }
  .tarifs__subtitle {
    font-size: 20px;
  }
  .tarifs__items {
    width: calc(50% - 20px);
  }
  .tarifs__items button {
    font-size: 18px;
    width: 270px;
    padding: 12px 47px;
  }
  .tarifs__name {
    font-size: 24px;
  }
  .tarifs__text {
    font-size: 28px;
  }
  .tarifs__price {
    font-size: 20px;
  }
  .tarifs .swiper-slide {
    display: block;
  }
  .tarifs__slide {
    display: block !important;
  }
}
@media (max-width: 481px) {
  .tarifs__items {
    width: 100%;
  }
  .tarifs__items__2 {
    display: none;
  }
  .mobile-slide {
    display: block !important;
  }
  .tarifs__items__4 {
    display: none;
  }
}
.connect {
  background: url("../img/connect_bg.png") center no-repeat;
  padding-bottom: 46px;
}
.connect__title {
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  font-style: normal;
}
.connect__steps {
  margin: 0 auto;
  padding-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.connect__items {
  text-align: center;
}
.connect__items:nth-child(2) {
  padding-top: 70px;
}
.connect__items:nth-child(2) img {
  padding-top: 29.76px;
}
.connect__number {
  width: 72px;
  height: 72px;
  background: #F1E4FF;
  border-radius: 100px;
  font-weight: 700;
  font-size: 30px;
  margin: 0 auto;
  padding: 8px 28px;
  color: #685ED6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.connect__name {
  font-weight: 700;
  font-size: 18px;
  padding: 16px 0 4px;
}
.connect__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.connect__img {
  padding-top: 42px;
}

.connect__slide {
  display: none !important;
}

@media (max-width: 1110px) {
  .connect {
    background: url("../img/connect_bg_1110.png") center no-repeat;
  }
  .connect__title {
    font-size: 32px;
  }
  .connect__number {
    height: 76px;
    width: 76px;
    font-size: 32px;
  }
  .connect__steps {
    padding-top: 39px;
  }
  .connect__name {
    font-size: 19px;
  }
  .connect__text {
    font-size: 14px;
  }
  .connect__items:nth-child(2) {
    padding-top: 0;
  }
  .connect__items:nth-child(2) img {
    padding-top: 36px;
  }
  .connect__img {
    padding-top: 36px;
    width: 202.75px;
    height: 417.13px;
  }
}
@media (max-width: 481px) {
  .connect {
    padding: 64px 0 62px;
  }
  .steps__block {
    display: none;
  }
  .items__2, .items__3 {
    display: none;
  }
  .connect__slide {
    display: block !important;
    padding-top: 47px;
    width: 100%;
  }
}
.reviews {
  padding: 17px 0 90px;
}
.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.reviews__head {
  position: relative;
}
.reviews__mark {
  position: absolute;
  top: 0;
  right: 0;
}
.reviews__items {
  width: calc(50% - 15px);
}
.reviews__item {
  margin-top: 48px;
  padding: 32px 32px 56px;
  background: #FCFEFF;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  text-align: center;
  position: relative;
  height: 220px;
}
.reviews__item::before {
  content: "";
  position: absolute;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid #FCFEFF;
  top: 85%;
  z-index: 1;
}
.reviews__name {
  font-weight: 500;
  font-size: 18px;
  color: #18191F;
  padding-bottom: 8px;
}
.reviews__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #18191F;
}
.reviews__img__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
}
.reviews__img {
  padding-right: 16px;
}
.reviews__img__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.reviews__img__email {
  font-weight: 400;
  font-size: 14px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 34px;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 140px !important;
  left: auto;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 140px !important;
  right: auto;
}

@media (max-width: 1110px) {
  .reviews {
    padding: 60px 0 86px;
  }
}
@media (max-width: 969px) {
  .reviews .title {
    font-size: 32px;
  }
  .reviews__name {
    font-size: 18px;
  }
  .reviews__text {
    font-size: 14px;
  }
  .reviews__img__name {
    font-size: 14px;
  }
  .reviews____img__email {
    font-size: 14px;
  }
  .reviews__items {
    width: 100%;
  }
  .reviews__two {
    display: none;
  }
  .reviews__item {
    width: 540px;
    height: 220px;
  }
}
@media (max-width: 481px) {
  .reviews__mark {
    width: 54px;
    height: 46px;
    top: -45px;
    right: 23px;
  }
  .reviews__item {
    width: 328px;
    height: 282.7px;
  }
  .reviews__item::before {
    content: "";
    position: absolute;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 40px solid #ffffff;
    top: 90%;
    left: 140px;
    z-index: 1;
  }
}
.plugin {
  padding: 90px 0 90px;
}
.plugin__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/plugin_bg.png") center/cover no-repeat;
  border-radius: 6px;
  padding: 16.92px 0 0 86px;
}
.plugin__img {
  padding-right: 80px;
}
.plugin__items {
  padding-bottom: 74px;
}
.plugin__title {
  font-weight: 800;
  font-size: 33px;
  line-height: 41px;
  color: #FFFFFF;
  padding-bottom: 32px;
}
.plugin__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.plugin__input {
  padding: 14px 16px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  outline: none;
}
.plugin__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  color: #474A57;
}
.plugin__input::-moz-placeholder {
  font-weight: 400;
  font-size: 15px;
  color: #474A57;
}
.plugin__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  color: #474A57;
}
.plugin__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  color: #474A57;
}
.plugin__input::placeholder {
  font-weight: 400;
  font-size: 15px;
  color: #474A57;
}
.plugin__btn {
  padding: 13px 24px;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  background: #18191F;
  border-radius: 0px 5px 5px 0px;
  border: none;
  cursor: pointer;
}

.br__mobile {
  display: none;
}

@media (max-width: 767px) {
  .plugin {
    padding: 54px 0 54px;
  }
  .plugin__content {
    padding: 50px;
  }
  .plugin__content {
    padding: 50px 29px 0 30px;
  }
  .plugin__img {
    width: 269px;
    height: 239px;
    padding-right: 30px;
  }
  .plugin__title {
    font-size: 24px;
  }
  .plugin__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plugin__btn {
    margin-top: 10px;
    border-radius: 5px;
  }
  .plugin__input {
    border-radius: 5px;
  }
}
@media (max-width: 481px) {
  .plugin__content {
    padding: 40px 19px 40px 31px;
    background: #685ED6;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plugin__items {
    padding-bottom: 0;
  }
  .plugin__img {
    padding-right: 30px;
  }
  .plugin__title {
    padding-top: 24px;
    padding-bottom: 0;
  }
  .plugin__form {
    padding-top: 16px;
  }
}
@media (max-width: 400px) {
  .plugin__input {
    padding: 10px 16px;
    width: 100%;
    border-radius: 5px;
  }
  .plugin__title {
    font-size: 18px;
    line-height: 32px;
  }
  .plugin__title br {
    display: none;
  }
  .plugin__btn {
    margin-top: 5px;
    padding: 12px 24px;
    width: 100%;
    border-radius: 5px;
  }
  .plugin__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plugin__input {
    border-radius: 5px;
  }
}
.footer__block {
  padding: 111px 0 78px;
  background: #1D2530;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__title {
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
  padding-top: 10px;
}
.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 126px;
     -moz-column-gap: 126px;
          column-gap: 126px;
  padding-top: 7px;
  padding-right: 134px;
}
.footer__item div {
  padding-top: 12px;
}
.footer__subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #F4F5F7;
  padding-bottom: 20px;
}
.footer__link {
  font-weight: 400;
  font-size: 16px;
  color: #EEEFF4;
  line-height: 26px;
}
.footer__link:hover {
  color: #685ED6;
}
.footer__down {
  background: #141B23;
  padding: 25px 0 23px;
}
.footer__down p {
  font-weight: 400;
  font-size: 14px;
  color: #D9DBE1;
}

@media (max-width: 767px) {
  .footer__block {
    padding: 60px 0 40px;
  }
  .footer__items {
    padding-right: 55px;
  }
}
@media (max-width: 481px) {
  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 15px;
  }
  .footer__item:nth-child(2) {
    padding-top: 24px;
  }
}
@media (max-width: 357px) {
  .footer__items {
    padding-right: 0;
  }
}
.overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(35, 40, 59, 0.5215686275);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  display: none;
  text-align: center;
}
.overlay__popup {
  text-align: center;
  padding: 105px 70px 63px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  position: relative;
  height: 502px;
}
.overlay__title {
  font-weight: 800;
  font-size: 32px;
  color: #685ED6;
  padding-bottom: 22px;
}
.overlay__input {
  width: 340px;
  padding: 8px 0 8px 20px;
  margin-top: 10px;
  background: #F7F7FD;
  border-radius: 4px;
  border: none;
  outline: none;
}
.overlay__btn {
  padding: 12px 144.5px;
  margin-top: 32px;
}
.overlay__close {
  position: absolute;
  top: 26px;
  right: 26px;
  cursor: pointer;
}
.overlay__regist {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(35, 40, 59, 0.5215686275);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  display: none;
  text-align: center;
}

.password-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 400;
  font-size: 12px;
  color: #605DEC;
  padding-top: 8px;
}

@media (max-width: 419px) {
  .overlay__popup {
    padding: 50px 10px 30px;
    height: 380px;
  }
}
.contacts {
  padding: 154px 0 100px;
  text-align: center;
}
.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contacts__item {
  padding: 50px;
  width: calc(50% - 15px);
  background: #FCFEFF;
  -webkit-box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}
.contacts__name {
  padding: 20px 0 20px;
}

@media (max-width: 767px) {
  .contacts__item {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .contacts h1 {
    font-size: 24px;
  }
  .contacts__subtitle {
    font-size: 16px;
  }
  .contacts__name {
    font-size: 18px;
  }
}
@media (max-width: 1110px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 400px) {
  .goTop {
    padding: 5px;
    font-weight: 400;
    right: 5px;
  }
}